.subtop{
    position: relative;
    width: 30%;
    height: inherit;
    float: left;
}
.answer{
    float: left;
    border: none;
    display: none;
    background-color: inherit;
    font-size: 15px;
    color: red;
}