.head{
    height: 60px;
    width: 100%;
    z-index: 9999;
    background-color: white;
    font-size: 18px;
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid gray;
}
.body{
    position: absolute;
    top: 60px;
}
.list{
    border-top: 1px solid gray;
    position: fixed;
    left: 0px;
    top:60px;
    width:200px;
    height: 100%;
    font-size: 15px;
    background-color: #eeedee;
}
.paper{
    overflow-y: auto;
    position: absolute;
    left:300px;
    top: 60px;
    width:900px;
    background-color: #eeedee;

}
.navgation{
    position: relative;
    float: left;
    text-align: center;
    width: 15%;
}
.user{
    position: relative;
    float: right;
    width: 10%;
    font-size: 18px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color:dodgerblue;
}
p{
    vertical-align: middle;
}
.type{
    position: relative;
    height: 40px;
    background-color: white;
    border: 1px solid lightgray;
    width: 90%;
    left: 5%;
    right: 5%;

}
.title{
    text-align: center;
    font-size: 25px;
    border:none;
    position: relative;
    left: 15%;
    width: 70%;
    height: 40px;
    background-color: inherit;

}
.time{
    text-align: center;
    font-size: 18px;
    border:none;
    position: relative;
    left: 60%;
    width: 20%;
    height: 30px;
    background-color: inherit;
}
.create_exam{
    position: relative;
    left: 50%;
    height: 30px;
    background-color: inherit;

}
.password{
    background-color: inherit;
    border: none;
    height: 30px;
    font-size: 18px;
    width: 20%;
    text-align: center;

}
.question{
    font-size: 18px;
    position: relative;
    left:15%;
    width: 70%;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
.question_detail{
    display: none;
    font-size: 18px;
    position: relative;
    left:15%;
    width: 70%;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
.text{
    height: 30px;
    font-size: 18px;
}
.option{
    height: 30px;
    width: 60%;
}
.delete_option{
    color: red;
    background-color: inherit;
    border:none;
    font-size: 18px;
}
.essay{
    font-size: 15px;
    columns:4;
    width: 100%;
    height: 100px;
}